<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>

    <style>
        .product {text-align: center;}  
    </style>
</head>

<body>

    <a href="{% url 'main_menu' %}">main menu</a>
    {% if product %}
            <div class="product">
            <img src="{{product.image.url}}" alt="{{product.name}}" width="400" height="400"> <br>
            <b>name</b> : {{product.name}} <br>
            <b>description</b> : {{product.description}} <br>
            <b>price</b> : {{product.price}}
            </div>
            
    {% else %}
            product_detail not found ! 
            
    {% endif %} <br>

</body>
</html>